  body{
    background-color: #EFF5F5;
  }

  p{
    font: italic normal 15px/2 cursive;
  }

  li{
   font: italic normal 15px/2 cursive;
  }

  h1{
    font: italic normal bold 26px/2 cursive;
    color: #66BFBF;
  }

  h3{
    font: italic small-caps bold 18px/2 cursive;
    color: #66BFBF;
  }

  tr{
    font: italic normal 15px/2 cursive;
  }

  td{
    font: italic normal 15px/2 cursive;
  }

  a{
    font: italic normal 15px/2 cursive;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #D6E4E5;
    border-width: 5px;
    width: 5%;
  }
